.cartContainer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 20px;
}
.cartBox {
  display: flex;
  border: 1px solid black;
  align-items: center;
  gap: 1rem;
}
